/out/production/HelloWorld/Actions.xml
/out/production/HelloWorld/HelloWorld.class
/out/production/HelloWorld/HelloWorld.jar
/out/production/HelloWorld/HelloWorld.props
/out/production/HelloWorld/HelloWorldPlugin.class
